language: node_js
node_js:
  - 0.10
  - 0.11
sudo: false
before_install:
  - wget https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein -O scripts/lein
  - chmod +x scripts/lein
  - export PATH=`pwd`/scripts:$PATH
  - npm run clean
  - npm run build-dev
